.main {
  flex-direction: column;
  
}

.preview {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 17px;
   
   width: 329.4px;
   &__image {
    width: 100%;
    height: 307px;
    object-fit: cover;
  }
  &__autor {
    width: 302px;
    height: 214px;
    background-color: white;
    color: #3e3e3e;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
    padding: 22.4px 9px 34.5px 9.8px;
    overflow-y: scroll;
    transform: translateY(-25%);
  }
}

.previewAutor {  
    text-align: center;
    margin-right: 5px;
  &__image {
    margin-top: 11px;
    width: 70.5px;
    height: 74.8px;
  }
  &__job {
    font-size: 10px;
    color: #909090;
  }
  &__name {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }
}

.previewProject {
    width: 150px;
    &__subtitle {
        font-size: 8px;
        text-align: center;
        transform: translate(30%, 70%);
        background-color: white;
        width: 93px;
    }
    &__title {
        font-size: 14px;
        color: #000000;
        margin-bottom: 2px;
    }
    &__slogan{
        font-size: 12px;
        color:#575757;
        margin-bottom: 14px;
    }
    &__desc{
        font-size: 8px;
        color: rgba(62, 62, 62, 0.88);
        line-height: 1.76;
        margin-bottom: 18px;
    }
    &__line {
        width: 100%;
          background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(1, 1, 1, 0.75),
      rgba(255, 255, 255, 0)
    );
        border: 0;
        height: 1px;
        margin-bottom: 11.7px;
    }
    &__technologies {
        display: flex;
        flex-direction: row;
        gap: 10px;
        &--text {
            padding: 3px;
            font-size: 10px;
            background-color:rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            color: #505050;
            justify-self: flex-start;
        }
        &--world {
            font-size: 14px;
            color:black;
        }
        
    }


}