@import "core/reset";
@import "layout/card";

.container {
  background-image: radial-gradient(circle at center, #403a5f, #211e2e);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;

  &__container {
    display: flex;
    gap: 40px;

    &--text {
      color: rgba(255, 255, 255, 0.5);
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      margin-left: -25px;
    }
  }
}

.icon {
  color: white;
  font-size: 30px;
}

.logo {
  width: auto;
  height: 46px;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    // padding-top: 0px;
    flex-direction: row;
    gap: 50px;
  }
}

.titleSection {
  display: flex;
  flex-direction: column;
  &__h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
  &__p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin: 10px 30px;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
  &__btn {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    margin: auto;
    border-radius: 20px;
    height: 20px;
    width: 115px;
    background-color: #8176af;
    @media (min-width: 768px) {
      display: none;
    }

    &--new {
      font-family: "Roboto", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-transform: uppercase;
      font-size: 10px;
      margin: auto;
      border-radius: 20px;
      padding: 5px 20px;
      margin-top: 40px;
      background-color: #8176af;
	  cursor: pointer;
      box-shadow: 0 0 10px 0 rgb(195, 160, 220) inset,
        0 0 10px 4px rgb(190, 169, 217);

      @media (min-width: 768px) {
        font-size: 12px;
      }

      &:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
      }
    }
  }
  &__link {
    text-decoration: none;
  }
}
.landing {
  height: 80vh;
}

.form {
  background-color: transparent;
  width: 100vw;
  padding: 34px;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-top: 20px;
  }

  &__title {
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    @media screen and (min-width: 768px) {
      font-size: 40px;
    }
  }

  &__askInfo {
    padding: 20px;
    text-align: center;
    color: white;

    &--subtitle {
      padding-bottom: 10px;
      font-weight: 300;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
    }

    &--line {
      width: 100%;
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
      );
    }
  }

  &__project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;

    &--input {
      background-color: transparent;
      border-color: white;
      border-radius: 40px;
      height: 42.72px;
      color: #ffffff;
      padding-left: 15px;
      padding-top: 5px;
      font-size: 13px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;

      &::placeholder {
        color: grey;
      }
    }

    &--textarea {
      background-color: transparent;
      border-color: white;
      border-radius: 40px;
      height: 42.72px;
      color: #ffffff;
      padding: 15px;
      height: 110px;
      font-size: 13px;
      font-family: "Montserrat", sans-serif;
	  font-weight: bold;

      &::placeholder {
        color: grey;
      }
    }
  }
  &__autor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;

    &--input {
      background-color: transparent;
      border-color: white;
      border-radius: 40px;
      height: 42.72px;
      color: #ffffff;
      padding-left: 15px;
      padding-top: 5px;
      font-size: 13px;
      font-family: "Montserrat", sans-serif;
	  font-weight: bold;

      &::placeholder {
        color: grey;
      }
    }
  }

  &__buttonsImg {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 20px;

    &--upload {
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: Montserrat;
      font-size: 10px;
      text-align: center;
      width: 160px;
      color: white;
      text-align: center;
      border: none;
      height: 43px;
      background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
      border-radius: 40px;
      cursor: pointer;

      @media (min-width: 768px) {
        font-size: 12px;
      }

      &:hover {
        background: linear-gradient(90deg, #e3e1eb -1.57%, #cbc6e2 98.43%);
        color: #8176af;
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }
    }

    &--group {
      display: flex;
      flex-wrap: wrap;

      @media (min-width: 768px) {
          gap: 20px;
      }
    }

    &--create {
      font-family: Montserrat;
      font-size: 10px;
      width: 200px;
      border: solid 2px white;
      margin-top: 10px;
      color: white;
      text-align: center;
      height: 43px;
      background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
      border-radius: 40px;
      cursor: pointer;
      @media (min-width: 768px) {
        font-size: 16px;
      }

      &:hover {
        background: linear-gradient(90deg, #e3e1eb -1.57%, #cbc6e2 98.43%);
        color: #8176af;
        transform: scale(1.1);
        transition: transform 0.3s ease;
        box-shadow: 0 0 10px 0 rgb(195, 160, 220) inset,
          0 0 10px 4px rgb(190, 169, 217);
      }
    }
    &--reset {
      font-family: Montserrat;
      font-size: 10px;
      font-weight: bold;
      background: linear-gradient(90deg, #fe5555 -1.57%, #f3918c 98.43%);
      color: white;
      width: 120px;
      padding: 10px;
	  border: transparent;
      border-radius: 40px;
      cursor: pointer;
      margin-top: 20px;

	  &:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
      }
    }
  }

  &__card {
    font-family: "Montserrat";
    color: white;
    text-align: center;
    padding: 20px;
    &--text {
      color: white;
      text-decoration: none;
    }
    &--textError {
      text-decoration: none;
      color: turquoise;
      font-size: 20px;
      font-weight: bold;
    }
    &--textError2 {
      color: turquoise;
      font-size: 18px;
    }

    &--link {
      font-weight: bold;
      color: white;
      text-decoration: none;
    }
  }
}

.hidden {
  display: none;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
@media screen and (min-width: 1024px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;

    .text {
      margin-left: -560px;
    }
  }
}
